.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 100%;
    z-index: 2;
}

tilemap {
    z-index: 1;
}