/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Delius Swash';
    src: url('./assets/DeliusSwashCaps-Regular.ttf');
}

* {
    font-family: 'Delius Swash';
}